[Desktop Entry]
Version=1.0.0
Name=MicroMusicPlayer
GenericName=Micro Music Player
Comment=Micro Music Player a very simple play a folder or a file music player.
Exec=/usr/local/bin/MicroMusicPlayer %f
Icon=/usr/local/share/Micro_Music_Player/images/images/Micro_Music_Player.png
Terminal=false
X-MultipleArgs=false
StartupNotify=true
MimeType=audio/mpeg;audio/ogg;audio/x-wav;audio/x-flac;
Keywords=Audio;Player;Song;mp3;ogg;wav;flac;
Categories=AudioVideo;Audio;Player;GNOME;GTK;
